### [00] 실습을 시작하기 전에

In [ ]:
import pandas as pd

### [01] 데이터프레임 만들기

In [ ]:
import pandas as pd

# ➊ 데이터를 이중 리스트로 생성
data_list = [
  ['소라', 25, '인천'],
  ['창훈', 30, '순천'],
  ['영미', 35, '동해']
]

# ➋ 열 이름을 위한 리스트
columns = ['이름', '나이', '거주지']

# ➌ 리스트를 사용하여 데이터프레임 생성
df = pd.DataFrame(data_list, columns=columns)

# ➍ 데이터프레임 출력
df

### [02] 파일을 데이터프레임으로 가져오기

In [ ]:
import pandas as pd

# ➊ 'sales_data.xlsx'의 데이터를 불러와 데이터프레임 생성
df = pd.read_excel('sales_data.xlsx')
df # 데이터프레임 출력

### [03] 데이터프레임을 파일로 저장하기

In [ ]:
import pandas as pd

# 도서 목록 데이터를 이중 리스트로 생성
data = [
   [1, '파이썬 프로그래밍', '김파이썬', 2019],
   [2, '데이터 분석', '이데이터', 2020],
   [3, '머신러닝 입문', '박머신', 2018],
   [4, '인공지능의 이해', '최인공', 2021]
]

# 열 이름 리스트 생성
columns = ['도서ID', '도서명', '저자', '출판년도']

# data와 columns로 데이터프레임 생성
books_df = pd.DataFrame(data, columns=columns)

# 데이터프레임을 엑셀 파일로 저장
books_df.to_excel('도서_데이터.xlsx')

# 데이터프레임 출력
books_df

### [04] shape, columns 속성으로 데이터프레임 정보 파악하기

In [ ]:
import pandas as pd

data = [
   ['김철수',25, '서울'],
   ['이영희', 32,'부산'],
   ['박민수', 19, '대구']
]
columns = [ '이름',  '나이', '도시' ]
df = pd.DataFrame(data, columns=columns)

# 데이터프레임의 shape 속성을 사용하여 행과 열의 수 확인
print(df.shape)

# 데이터프레임 출력
df

In [ ]:
# columns 속성으로 df의 열 이름 확인
print(df.columns)

### [05] head( ) 함수, tail( ) 함수로 데이터 엿보기

In [ ]:
import pandas as pd

data = [
   ['김철수',25, '서울'],
   ['이영희', 32,'부산'],
   ['박민수', 19, '대구']
]
columns = [ '이름',  '나이', '도시' ]
df = pd.DataFrame(data, columns=columns)

# 상위 1개 행 출력
print(df.head(1))
# 하위 1개 행 출력
print(df.tail(1))

### [06] 열 이름 또는 인덱스로 데이터 선택하기

<span style="color: blue;"><u>**열 선택하기**</u></span>

In [ ]:
# '도시' 열을 선택
column_data = df['도시']
print(type(column_data))
print(column_data)

In [ ]:
# '도시', '이름' 열을 각각 선택
selected_columns = df[['도시', '이름']]
print(type(selected_columns))
selected_columns

In [ ]:
column_data = df[['도시']]
column_data

<span style="color: blue;"><u>**행 선택하기**</u></span>

<span style="color: gray;"><u><em>**1) loc[ ]**</em></u></span>

In [ ]:
# loc[]로 첫 번째 행 데이터 출력
row = df.loc[0]
print(row)

In [ ]:
# 리스트로 여러 행(첫 번째 행과 세 번째 행) 선택
selected_rows1 = df.loc[[0, 2]]
print(selected_rows1)

In [ ]:
# 슬라이싱으로 연속된 여러 행(두 번째 행부터 세 번째 행까지) 선택
selected_rows2 = df.loc[1:2]
print(selected_rows2)

In [ ]:
# df의 모든 행에 대한 ‘도시’ 열 데이터 선택
selected_column = df.loc[:, '도시']
print(selected_column)

In [ ]:
# df에서 '도시'과 '이름' 열을 선택
selected_columns1 = df.loc[:, ['도시', '이름']]
print(selected_columns1)

In [ ]:
# df에서 '나이'부터 '도시' 열까지 선택
selected_columns2 = df.loc[:, '나이':'도시']
print(selected_columns2)

In [ ]:
# '이름' 열의 첫 번째 행 '0'
selected_value = df.loc[0, '이름']
print(selected_value)

<span style="color: gray;"><u><em>**2) iloc[ ]**</em></u></span>

In [ ]:
# 첫 번째 행 선택
row = df.iloc[0]

# 두 번째 열 선택
column = df.iloc[:, 1]

print(row)
print('------------------------')
print(column)

In [ ]:
# 마지막 열 선택
last_column = df.iloc[:, -1]
print(last_column)

In [ ]:
# 첫 번째부터 두 번째(세 번째 행은 포함되지 않음) 행 선택
rows_iloc = df.iloc[0:2]

# 두 번째(세 번째 열은 포함되지 않음) 열 선택
columns_iloc = df.iloc[:, 1:2]

print(rows_iloc)
print('------------------------')
print(columns_iloc)

In [ ]:
# 첫 번째부터 두 번째(세 번째는 포함되지 않음) 행 선택
rows_loc = df.loc[0:2]

# 두 번째부터 세 번째 열 선택
columns_loc = df.loc[:, '나이':'도시']

print(rows_loc)
print('------------------------')
print(columns_loc)

In [ ]:
# 첫 번째, 세 번째 행 선택
rows_list = df.iloc[[0, 2]]

# 첫 번째, 세 번째 열 선택
columns_list = df.iloc[:, [0, 2]]

print(rows_list)
print('------------------------')
print(columns_list)

<span style="color: gray;"><u><em>**3) 슬라이싱**</em></u></span>

In [ ]:
# 데이터프레임 df의 첫 번째 행부터 두 번째 행까지 선택
selected_rows = df[0:2]
print(selected_rows)

<span style="color: gray;"><u><em>**4) 조건으로 특정 데이터 필터링
**</em></u></span>

In [ ]:
# '나이' 열의 값이 '20'보다 큰 행만 선택
filtered_rows1 = df[df['나이'] > 20 ]
print(filtered_rows1)

In [ ]:
# '나이' 열이 20보다 크고 '도시' 열의 값이 '서울'이 아닌 행
filtered_rows2 = df[(df['나이'] > 20 ) & (df['도시'] != '서울' )]
print(filtered_rows2)

In [ ]:
filtered_rows_isin = df[df['도시'].isin(['대구','부산'])]
print(filtered_rows_isin)